/* .vjs-matrix.video-js {
    color: #14b8a6;
}

.vjs-play-control {
    color: #14b8a6 !important;
}

.vjs-play-control,
.vjs-mute-control,
.vjs-play-progress {
    color: #14b8a6 !important;
}

.vjs-load-progress,
.vjs-play-progress {
    background: #14b8a6 !important;
}

.vjs-control-bar{
    height: 3rem !important;
} */